<?xml version="1.0"?>
<config>
    <modules>
        <Foobar_Feedback>
            <version>1.0.0</version>
        </Foobar_Feedback>
    </modules>
    <global>
        <blocks>
            <foobar_feedback>
                <class>Foobar_Feedback_Block</class>
            </foobar_feedback>
        </blocks>
        <helpers>
            <foobar_feedback>
                <class>Foobar_Feedback_Helper</class>
            </foobar_feedback>
        </helpers>
        <models>
            <foobar_feedback>
                <class>Foobar_Feedback_Model</class>
            </foobar_feedback>
        </models>
        <events>
            <studioforty9_recaptcha_routes>
                <observers>
                    <add_foobar_feedback_recaptcha_route>
                        <class>foobar_feedback/observer</class>
                        <method>addRecaptchaRouteToFoobarFeedbackForm</method>
                    </add_foobar_feedback_recaptcha_route>
                </observers>
            </studioforty9_recaptcha_routes>
			<studioforty9_recaptcha_failed_foobarfeedback_index_post>
                <observers>
                    <studioforty9_recaptcha>
                        <class>foobar_feedback/observer</class>
                        <method>onFailedRecaptchaFoobarFeedbackForm</method>
                    </studioforty9_recaptcha>
                </observers>
			</studioforty9_recaptcha_failed_foobarfeedback_index_post>
        </events>
    </global>
    <frontend>
        <routers>
            <foobarfeedback>
                <use>standard</use>
                <args>
                    <module>Foobar_Feedback</module>
                    <frontName>foobarfeedback</frontName>
                </args>
            </foobarfeedback>
        </routers>
        <layout>
            <updates>
                <foobarfeedback>
                    <file>foobarfeedback.xml</file>
                </foobarfeedback>
            </updates>
        </layout>
    </frontend>
</config>
